# PostgreSQL
POSTGRES_DB=
DB_USERNAME=
DB_PASSWORD=

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/

# Naver Cloud Platform - Reverse Geocoding API
# https://www.ncloud.com/product/applicationService/maps
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
