# PostgreSQL
POSTGRES_DB=glance
DB_USERNAME=glance
DB_PASSWORD=glance

# Naver Cloud Platform - Reverse Geocoding API
# https://www.ncloud.com/product/applicationService/maps
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
